
body{
  font-family: "游明朝";
  font-weight:500;
  font-size: 16px;
  background-color: #ffffe5;
}
h3{
  padding: 15px;
  font-weight:bolder;
  font-size: 20px;
}
h4{
  font-size: 19px;
}
h5{
  font-size: 18px;
}
h6{
  padding-left: 20px;
  font-size: 17px;
}
li{
  list-style: none;
  margin-bottom: 10px;
}
table{
  border: solid 2px #191970;
  margin-top:10px
}
th{
  border: solid 1px #191970;
}
.table_th{
  background-color: #afeeee;
}
td{
  border: solid 0.5px #191970;
}
.syutten{
  font-size: 13px;
  margin:5px;
}
.memo_top{
  background-color: #c1ffe0;
  border-radius: 1em;
}
.memo_contents{
  background-color:#eaffea;
  border:solid 1px #009854;
  border-radius: 1em;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.memo_midashi{
  border-bottom:dashed 1px #79c06e;
}
.memo_midashi.memo_title{
  list-style: decimal-leading-zero;
  font-weight: bolder;
}
.memo_list{
  background-color: #cee4ae;
  border:hidden 1px #339900;
  border-radius: 1em;
  padding: 5px 5px 5px 10px;
  margin-left: 10px;
}
.memo_footer{
  background-color: #cce5ff;
  border-radius: 1em;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
}
.memo_footer.link{
}
.jidai{
  background-color:#e0ffe0 ;
  border:solid 1px #7f7fff;
  padding: 5px 5px 5px 10px;
  border-radius: 1em;
  margin: 10px;
}
.seiryoku{
  background-color: #d6e9ca;
  padding: 5px 5px 5px 10px;
  border-radius: 1em;
  margin: 10px;
}
