/* tooltipsを定義するcss */

body{
  font-family: "游明朝";
  font-weight:500;
  font-size: 16px;
  background-color: #ffffe5;
  padding-bottom: 70px;
}
h2{
  padding: 15px;
  font-weight:bolder;
  font-size: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.h2_title{
  
}
h3{
  font-size: 19px;
}
.common_chapter{
  background-color:#e0ffe0 ;
  border:solid 1px #009854;
  padding: 5px 5px 5px 10px;
  border-radius: 1em;
  margin: 10px;
}
.h3_common{
  border-left:10px solid #007b3a;
  border-bottom:1px solid #8cc8b4;
}
h4{
  font-size: 18px;
  padding:7px;
  margin:2px;
}
.h4_common:after{
  content: "";
  height: 4px;
  display: block;
  background: -webkit-linear-gradient(to right, rgb(140, 200, 180), transparent);
  background: linear-gradient(to right, rgb(140, 200, 180), transparent);
}
.common_seciton{
  border-left:10px solid #007b3a;
  border-bottom:1px solid #8cc8b4;
}
h5{
  font-size: 17px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 2px;
}
.h5_common:after{
  content: "";
  height: 4px;
  display: block;
  background: -webkit-linear-gradient(to right, rgb(140, 200, 180), transparent);
  background: linear-gradient(to right, rgb(140, 200, 180), transparent);
}
h6{
  font-size: 16px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 0px;
  margin-bottom: 2px;
}
.h6_common:after{
  content: "";
  height: 4px;
  display: block;
  background: -webkit-linear-gradient(to right, rgb(120, 200, 230), transparent);
  background: linear-gradient(to right, rgb(120, 200, 230), transparent);
}
.ol1{
  list-style-type: decimal;
}
.ol2{
  list-style-type: upper-roman;
}
.ol3{
  list-style-type: lower-roman;
}
.ol4{
  list-style-type: lower-armenian;
}


ul{
  list-style: none;
  margin-top: 3px;
  margin-bottom: 10px;
}
table{
  border: solid 2px #191970;
  margin-top:10px
}
.table_border_thin{
  border: solid 1px #009854;
  margin-left: 22px;
}
th{
  border: solid 1px #191970;
}
.table_th{
  background-color: #afeeee;
}
td{
  border: solid 0.5px #191970;
}
.td_noborder{
  border: none;
}
.td_center{
  text-align: center;
  vertical-align: middle;
}
.index_header{
  position:fixed;
  width: 100%;
  height: 40px;
  padding: 20px;
  background-color:#eaffea;
  top: 0px;
  left: 0px;
}
p{
  text-indent: 1em;
}
.contents_h3{
  margin-left: 15px;
}
.contents_h4{
  margin-left: 10px;
}
.contents_h5{
  margin-left: 10px;
}
.contents_h6{
  margin-left: 10px;
}
.index_1{
  background-color: #e0efff;
  padding-left: 5px;
}
.index_2{
  background-color: #eff7ff;
  padding-left: 5px;
}
.header_form{
  display: flex;
}
.search_form{
  margin-right: 20px;
}
.index_contents{
  background-color: #ffffe5;
  padding-top: 70px;
}
.syutten{
  font-size: 13px;
  margin:5px;
}
.memo_top{
  background-color: #c1ffe0;
  border-radius: 1em;
  border:solid 1px #002900;
  margin-bottom: 10px;
  padding: 0;
}
.memo_contents{
  background-color:#eaffea;
  border:solid 1px #009854;
  border-radius: 1em;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.memo_midashi{
  border-bottom:dashed 1px #79c06e;
  font-size: 19px;
}
.memo_midashi.memo_title{
  list-style: decimal-leading-zero;
  font-weight: bolder;
}
.memo_list{
  background-color: #cee4ae;
  border:hidden 1px #339900;
  border-radius: 1em;
  padding: 5px 5px 5px 10px;
  margin-left: 25px;
}
.memo_footer{
  background-color: #e0efff;
  display: flex;
  padding-top:10px;
  padding-bottom:10px;
  bottom: 0px;
  width: 100%;
  position:fixed;
}
.memo_footer .link{
  margin-right: 20px;
}
.h3_frame{
  background-color:#e0ffe0 ;
  border:solid 1px #009854;
  padding: 5px 5px 5px 10px;
  border-radius: 1em;
  margin: 10px;
}
.seiryoku{
  background-color: #d6e9ca;
  padding: 5px 5px 5px 10px;
  border-radius: 1em;
  margin: 10px;
}
summary {
	cursor: pointer;
  display: block;
}
details summary::before {
  font-family: FontAwesome;
  content: '＋';
  padding-left: 5px;
  margin-right: 5px;
  font-size: 19px;
  font-weight: bold;
}
details[open] summary::before {
  content: '－';
}
