/* tooltipsを定義するcss */

body{
  font-family: "游明朝";
  font-weight:500;
  font-size: 15px;
  background-color: #ffffe5;
  padding-bottom: 70px;
}
@media only screen and (max-width: 640px) {
  body{
  font-family: "メイリオ","游明朝";
  font-size: 8px;
  background-color: #ffffe5;
  padding-bottom: 70px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}}

h2{
  padding: 15px;
  font-weight:bolder;
  font-size: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.question{
  border-radius: 0.7em;
  border:dashed 2px #6699ff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
}
.one_point{
  border-radius: 0.7em;
  border:outset 2px #00afcc;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
}
.common_top{
  background-color: #c1ffe0;
  border-radius: 1em;
  border:solid 1px #002900;
  margin-bottom: 10px;
  padding: 0;
}
.common_contents{
  background-color:#eaffea;
  border:solid 1px #009854;
  border-radius: 1em;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.common_index{
  background-color:#eaffff;
  border:solid 1px #003f8e;
  border-radius: 1em;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.common_index_title{
  /*
  border-bottom:dashed 2px #009999;
  */
  font-size: 18px;
}
.common_index_title:after{
  content: "";
  height: 5px;
  display: block;
  background: -webkit-linear-gradient(to right top, #1e50a2 10%, transparent);
  background: linear-gradient(to right top, #1e50a2 10%, transparent);
  border-radius:8px;
}
.common_index_inner{
  background-color:#eaffff;
  border:solid 1px #003f8e;
  border-radius: 1em;
  margin: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.common_index_inner_title{
  /*
  border-bottom:dashed 2px #009999;
  */
  font-size: 16px;
}
.common_index_inner_title:after{
  content: "";
  height: 2px;
  display: block;
  background: -webkit-linear-gradient(to right top, #1e50a2 10%, transparent);
  background: linear-gradient(to right top, #1e50a2 10%, transparent);
  border-radius:8px;
}
h3{
  font-size: 19px;
}
.common_h3{
  /*
  border-bottom:dashed 2px #009999;
  */
  font-size: 18px;
}
.common_h3:after{
  content: "";
  height: 5px;
  display: block;
  background: -webkit-linear-gradient(to right top, #009999 10%, transparent);
  background: linear-gradient(to right top, #009999 10%, transparent);
  border-radius:8px;
}
.common_h3.memo_title{
  list-style: decimal-leading-zero;
  font-weight: bolder;
}

h4{
  font-size: 17px;
  padding:3px;
  padding-left:8px;
  margin-top:20px;
  margin-bottom:15px;
}
.common_seciton{
  border-left:4px solid #009999;
  border-bottom:3px solid #8cc8b4;
  border-radius:6px;
}
.pad_h4{
  list-style: none;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 8px;
}
h5{
  font-size: 16px;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.common_h5:after{
  content: "";
  height: 4px;
  display: block;
  background: -webkit-linear-gradient(to right, #8cc8b4, transparent);
  background: linear-gradient(to right, #8cc8b4, transparent);
}
.pad_h5{
  list-style: none;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 5px;
}
h6{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  line-height: normal;
}
.common_h6:after{
  content: "";
  height: 2px;
  display: block;
  background: -webkit-linear-gradient(to right, #89c3eb, transparent);
  background: linear-gradient(to right, #89c3eb, transparent);
}
.h7{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.common_h7:after{
  content: "";
  height: 1px;
  display: block;
  background: -webkit-linear-gradient(to right, #00a1e9, transparent);
  background: linear-gradient(to right, #00a1e9, transparent);
}
.ol1{
  list-style-type: decimal;
}
.ol2{
  list-style-type: upper-roman;
}
.ol3{
  list-style-type: lower-roman;
}
.ol4{
  list-style-type: lower-armenian;
}
ul{
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 3%;
}
.list_none{
  list-style-type: none;
  list-style-position: outside;
  padding-left: 1%;
}
.list_decimal{
  list-style-type: decimal;
  list-style-position: outside;
}
/* 黒丸 */
.list_disc{
  list-style-type: disc;
  list-style-position: outside;
}
.list_disc li{
  padding-left: 0;
}
.index_header{
  position:fixed;
  width: 100%;
  height: 40px;
  padding: 20px;
  background-color:#eaffea;
  top: 0px;
  left: 0px;
}
p{
  text-indent: 1em;
}
.contents_h3{
  margin-left: 10px;
}
.contents_h4{
  margin-left: 10px;
}
.contents_h5{
  margin-left: 10px;
}
.contents_h6{
  margin-left: 10px;
}
.contents_h7{
  margin-left: 10px;
}
.index_1{
  background-color: #e0efff;
  padding-left: 5px;
}
.index_2{
  background-color: #eff7ff;
  padding-left: 5px;
}
.header_form{
  display: flex;
}
.search_form{
  margin-right: 20px;
}
.index_contents{
  background-color: #ffffe5;
  padding-top: 70px;
}
.syutten{
  font-size:13px;
  margin:5px;
  margin-top:20px;
  padding-top:10px;
  border-top:1px dashed #007bbb;
}
.common_footer{
  background-color: #efffe0;
  display: flex;
  padding-top:10px;
  padding-bottom:10px;
  bottom: 0px;
  width: 100%;
  position:fixed;
}
.common_footer .link{
  margin-right: 20px;
}
summary {
	cursor: pointer;
  display: block;
}
details summary::before {
  font-family: FontAwesome;
  content: '▶';
  padding-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}
details[open] summary::before {
  content: '▼';
}
.strong_nomal{
  font-weight: bold ;
  background: linear-gradient(transparent 50%, #99ff33 80%);
}
.strong_18{
  font-size: 18px;
  font-weight: bold ;
  background: linear-gradient(transparent 50%, #99ff33 80%);
}
.strong_22{
  font-size: 22px;
  font-weight: bold ;
  background: linear-gradient(transparent 50%, #99ff33 80%);
}
.soeji{
  font-size: 2px;
}
.category_area{
  background-color:#d5ffea;
  border:solid 1px #009854;
  border-radius: 1em;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.category{
  display: inline-block;
  background-color: #f0ffff;
  border:solid 2px #0e470e;
  color: #0e472b;
  text-decoration: none;
  font-weight:10px;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 4px;
}
.preview {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 999;
}
