.exmp_sent{
  margin-left: 10px;
}
.translate{
  margin-left: 10px;
}
.trance_desc{
  margin-left: 15px;
  font-size: 80%;
}
.sound-trigger{
  cursor: pointer; /* マウスカーソルを指の形にする */
  margin-left: 10px;
  width: 20px;
  height: auto;
  border: 1px solid green;
  border-radius: 5px;
  position: relative;  /* 相対配置を有効にする */
  top: 5px;
}