/* tableを定義するcss */

table{
  border: solid 2px #191970;
  margin-top:10px
}
.table_border_thin{
  border: solid 1px #009854;
  margin-left: 22px;
}
.table_border_thin2{
  border: solid 1px #009854;
  border-spacing: 0;
  border-collapse: collapse;
}

th{
  border: solid 1px #191970;
}
.table_th{
  background-color: #afeeee;
}
.table_th_orange{
  background-color: #ffd700;
}
td{
  border: solid 0.5px #191970;
}
.td_selection_left{
  border-collapse: collapse;
}
.td_noborder{
  border: none;
}
.td_center{
  text-align: center;
  vertical-align: middle;
}
.td_numeric{
  text-align: right;
}
.td_img{
  text-align: center;
  vertical-align: middle;
}
.td_type_normal{
  background-color: white;
  color: black;
}
.td_type_honou{
  background-color:red;
  color: white;
}
.td_type_mizu{
  background-color:blue;
  color: white;
}
.td_type_koori{
  background-color:#84ffff;
  color: black;
}
.td_type_kusa{
  background-color: lightgreen;
  color: black;
}
.td_type_denki{
  background-color: yellow;
  color: black;
}
.td_type_jimen{
  background-color: brown;
  color: white;
}
.td_type_hagane{
  background-color: gray;
  color: white;
}
.td_type_esper{
  background-color: palevioletred;
  color: white;
}
.td_type_aku{
  background-color: black;
  color: white;
}
.td_type_hikou{
  background-color: #c6ffff;
  color: black;
}
.td_type_mushi{
  background-color: #ffbf7f;
  color:black;
}
.td_type_doku{
  background-color: purple;
  color: white;
}
.td_type_dragon{
  background-color:darkgreen;
  color: white;
}
.nowrap{
  white-space: nowrap;
}
.img_with_text{
  padding : 0px;
  margin-top : -3px;
  margin-bottom : -3px;
  margin-left: -3px;
  margin-right: -3px;
}